{
  "builders":[{
    "type": "docker",
    "image": "amazonlinux",
    "commit": true
  }],
  "provisioners":[{
      "type": "shell",
      "inline": [
        "yum -y update",
        "yum install -y python27-pip python27-devel python27-crypto",
        "yum install -y gcc openssl-devel libffi-devel",
        "yum install -y shadow-utils upstart initscripts",
        "pip install ansible",
        "echo \"NETWORKING=yes\" >>/etc/sysconfig/network"
      ]
  }],
  "post-processors":[
    [
      {
        "type": "docker-tag",
        "repository": "{{docker_username}}/ansible-testing-amazonlinux",
        "tag": "{{ docker_tag }}"
      },
      {
        "type": "docker-push",
        "login": true,
        "login_username": "{{ docker_username }}",
        "login_email": "{{ docker_email }}",
        "login_password": "{{ docker_password }}"
      }
    ],
    [
      {
        "type": "docker-tag",
        "repository": "{{docker_username}}/ansible-testing-amazonlinux",
        "tag": "latest"
      },
      {
        "type": "docker-push",
        "login": true,
        "login_username": "{{ docker_username }}",
        "login_email": "{{ docker_email }}",
        "login_password": "{{ docker_password }}"
      }
    ]
  ]
}
