{
  "builders":[{
    "type": "docker",
    "image": "centos:centos7",
    "commit": true
  }],
  "provisioners":[{
      "type": "shell",
      "inline": [
        "yum -y update",
        "yum install -y python-devel python-crypto wget",
        "yum install -y gcc openssl-devel libffi-devel",
        "wget \"https://bootstrap.pypa.io/get-pip.py\" -O \"get-pip.py\"",
        "python get-pip.py",
        "pip install ansible",
        "echo \"NETWORKING=yes\" >>/etc/sysconfig/network"
      ]
  }],
  "post-processors":[
    [
      {
        "type": "docker-tag",
        "repository": "{{docker_username}}/ansible-testing-centos7",
        "tag": "{{ docker_tag }}"
      },
      {
        "type": "docker-push",
        "login": true,
        "login_username": "{{ docker_username }}",
        "login_email": "{{ docker_email }}",
        "login_password": "{{ docker_password }}"
      }
    ],
    [
      {
        "type": "docker-tag",
        "repository": "{{docker_username}}/ansible-testing-centos7",
        "tag": "latest"
      },
      {
        "type": "docker-push",
        "login": true,
        "login_username": "{{ docker_username }}",
        "login_email": "{{ docker_email }}",
        "login_password": "{{ docker_password }}"
      }
    ]
  ]
}
