{
  "builders":[{
    "type": "docker",
    "image": "ubuntu:xenial",
    "commit": true
  }],
  "provisioners":[{
      "type": "shell",
      "inline": [
        "apt -y update",
        "apt install -y python-minimal python-dev python-crypto",
        "apt install -y python-pip gcc libssl-dev curl",
        "pip install ansible"
      ]
  }],
  "post-processors":[
    [
      {
        "type": "docker-tag",
        "repository": "{{docker_username}}/ansible-testing-ubuntu1604",
        "tag": "{{ docker_tag }}"
      },
      {
        "type": "docker-push",
        "login": true,
        "login_username": "{{ docker_username }}",
        "login_email": "{{ docker_email }}",
        "login_password": "{{ docker_password }}"
      }
    ],
    [
      {
        "type": "docker-tag",
        "repository": "{{docker_username}}/ansible-testing-ubuntu1604",
        "tag": "latest"
      },
      {
        "type": "docker-push",
        "login": true,
        "login_username": "{{ docker_username }}",
        "login_email": "{{ docker_email }}",
        "login_password": "{{ docker_password }}"
      }
    ]
  ]
}
